<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Test">

	<select id="getColumnName" resultType="map">
		SELECT COLUMN_NAME
			 , COLUMN_COMMENT
		  FROM INFORMATION_SCHEMA.COLUMNS
		 WHERE 1 = 1
		   AND TABLE_SCHEMA = 'c2d2309t2'
		   AND TABLE_NAME = 'CINEMA';
	</select>
	
	<select id="getCinema">
		SELECT *
		  FROM CINEMA
	</select>
	
	<select id="proc" resultType="map">
		CALL proc_test();
	</select>
	
	
	
</mapper>